<br>
<h4>Disclaimer</h4>
<p class="footer">
    VaxiTrack only links vaccination centres to patients. We take no responsibility for vaccine delivery, follow-ups or information about the vaccine.
</p>
<p class="footer">
    This site uses cookies for security purposes. Although uploaded data is not stored, a temporary copy of the postcodes will be shared with Google maps for finding nearest centres. No guarantee is made about the security and privacy of either site/service. Don't upload any data that you wouldn't be comfortable sending via email, for example.
</p>
<p class="footer">
    Email questions or comments <a href="mailto:vaxitrack@gmail.com">here</a>.&copy AJ Barker, RMT Staruch, TF Kirk (2021).
</p>
