{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Find a local Covid-19 vaccine, that would otherwise go to waste.</p>
    <a type="button" class="btn btn-lg btn-default" href="pages/user.html"><span class="glyphicon glyphicon-flash"></span> Find a vaccine</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Log spare vaccines</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To view the source on Github, and learn about how we manage your data, <a href="https://github.com/ajbarker93/vaxi_track" class="alert-link">click here</a>.
  </div>
  <hr>
</div>
{% endblock %}
