{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Register on VaxiTrack as a vaccination centre</p>
    <form action="/build/" method="post" enctype="multipart/form-data">
      <input type="text" placeholder="Centre name" id="cname" name="cname" style="font-size: 14pt; height: 45px; width:150px; color=black;"><br>
      <input type="text" placeholder="Centre postcode" id="cpcode" name="cpcode" style="font-size: 14pt; height: 45px; width:150px; color=black;"><br>
      <input type="text" placeholder="NHS email" id="nhs_email" name="nhs_email" style="font-size: 14pt; height: 45px; width:150px; color=black;"><br>
      <hr />
      <type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Register
    </form>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <p>We will send a 6-digit code to your NHS email to use when logging spare vaccines.</p>
  </div>
  <hr>
</div>

{% include 'small_footer.html' %}
{% endblock %}
