{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Find a local Covid-19 vaccine.</p>
    <form>
      <label for="fname">Postcode:</label><br>
      <input type="text" id="pcode" name="pcode"><br>
      <input type="submit" value="Submit" color:black background-color: #4CAF50>
    </form>
  </div>
</div>
{% endblock %}
