{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Find a local Covid-19 vaccine.</p>
    <form>
      <label for="fname">Centre Name:</label><br>
      <input type="text" id="cname" name="cname"><br>
      <label for="fname">Centre Postcode:</label><br>
      <input type="text" id="cpcode" name="cpcode"><br>
      <label for="fname">Doses Today:</label><br>
      <input type="text" id="doses" name="doses"><br>
      <label for="fname">At Time:</label><br>
      <input type="text" id="start_time" name="start_time"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
