<br>
<div class="container fixed-bottom">
<h4>Disclaimer</h4>
<p class="footer">
    VaxiTrack only links vaccination centres to patients. We take no responsibility for vaccine delivery, follow-ups or information about the vaccine.
</p>
<p class="footer">
This site uses cookies for security purposes. Although uploaded data is not stored, a temporary copy of the locations will be shared with Google maps for building routes. No guarantee is made about the security and privacy of either site/service. Current ICO <a href="https://ico.org.uk/global/data-protection-and-coronavirus-information-hub/data-protection-and-coronavirus/health-social-care-organisations-and-coronavirus-what-you-need-to-know/">guidance</a> states: <i>The UK’s data protection laws do not prevent health organisations from providing the information that’s needed; whether that’s to protect people from coronavirus, or to provide the care that’s needed to help patients.</i>
</p>
<p class="footer">
    Email questions or comments <a href="mailto:vaxitrack@gmail.com">here</a>.&copy AJ Barker, RMT Staruch, TF Kirk (2021).
</p>
</div>
