{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Register on VaxiTrack as a vaccination centre</p>
    <form action="" method="post" enctype="multipart/form-data" onsubmit="alert('Thank you, you will receive an email with your ID shortly.');">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit" id="submit_button"
      style="background-color:#7646c1; font-size:120%;">
    </form>
    </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <p>We will send a 6-digit code to your NHS email to use when logging spare vaccines.</p>
  </div>
  <hr>
</div>

{% include 'small_footer.html' %}
{% endblock %}
