{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v1.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Register for a local Covid-19 vaccine. Sign up below to be notified</p>
    <form action="" target="" method="post" enctype="multipart/form-data" onsubmit="alert('Thank you, you will receive an email if we have a spare vaccine.');">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit" id="submit_button"
      style="background-color:#7646c1; font-size:120%;" target="">
    </form>
  </div>
</div>
<div class="img-container">
  {% load static %}<img src="{% static 'ox_map_v1.png' %}">
</div>

{% include 'small_footer.html' %}
{% endblock %}
