{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'vt_logo_v2.png'%}"/>
    </a>
    <h1>VaxiTrack</h1>
    <p>Log today's spare Covid-19 vaccines</p>
    <form action="" method="post" enctype="multipart/form-data" autocomplete="off" onsubmit="alert('Thank you for logging your vaccines.');">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit" id="submit_button"
      style="background-color:#7646c1; font-size:120%;">
    </form>
    <p>Please use a 24hr time format, i.e 15:00.</p>
  </div>
</div>

{% include 'small_footer.html' %}
{% endblock %}
